{% extends 'FrontTemplate2.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/css/bootstrap.min.css"> <link rel="stylesheet" href="{{ asset('css/style.css') }}"> {% endblock %}
{% block title %}User{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center mt-5 display-4">Profile</h1>
        <div class="row">
            <div class="col-md-4">
                <img src="https://via.placeholder.com/150" alt="Profile Picture" class="img-fluid rounded-circle mb-3">
            </div>
            <div class="col-md-8">
                <table class="table table-bordered mt-5">
                    <tbody>
                    <tr>
                        <th>Username</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>Prenom</th>
                        <td>{{ user.prenom }}</td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td>{{ user.adresse }}</td>
                    </tr>
                    <tr>
                        <th>Cin</th>
                        <td>{{ user.cin }}</td>
                    </tr>
                    <tr>
                        <th>Telephone</th>
                        <td>{{ user.telephone }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ user.nom }}</td>
                    </tr>
                    </tbody>
                </table>
                <a href="{{ path('app_profile_edit', {'id': user.id}) }}" class="btn btn-primary">Modifier</a>
            </div>
        </div>
    </div>
{% endblock %}