{% extends 'FrontTemplate.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block header %}{% endblock %}
{# {% block footer %}{% endblock %}  #}



{% block body %}
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="text-center">
                            <img src="{{ asset('templateFront/img/logo.png') }}" alt="Logo" style="width: 150px; height: auto;">
                        </div>
                        <form method="post" class="form-signin">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}

                            <h1 class="h3 mb-3 font-weight-normal text-center">Login</h1>
                            <div class="form-group">
                                <label for="inputEmail">Email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                            </div>
                            <div class="form-group text-center">
                                <div class="g-recaptcha" data-sitekey="6LfxDsEpAAAAAHLhK6H22Gj0zvfXCT2EgcPbpG7U" style="display: inline-block;"></div>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                            <a href="{{ path('home') }}" class="btn btn-lg btn-secondary btn-block mt-3">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>



{% endblock %}
