{% extends 'FrontTemplate.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block footer %}{% endblock %}
{% block body %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <div class="container mt-4">
        <div class="card mx-auto" style="max-width: 400px;">
            <div class="card-header">
                <h5 class="card-title text-center">Connexion</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <div class="mb-3">
                        <label for="inputUsername" class="form-label">Username</label>
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="mb-3">
                        <div class="g-recaptcha" data-sitekey="6LfxDsEpAAAAAHLhK6H22Gj0zvfXCT2EgcPbpG7U"></div>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign in
                    </button>
                </form>
                <p class="mt-3">
                    <a href="{{ path('app_forgot_password_request') }}">Forgot your password?</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
