{% extends './FrontTemplate.html.twig' %}

{% block title %}Offres index{% endblock %}

{% block body %}
    <h1>Offres index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idoffre</th>
                <th>Montant</th>
                <th>Datesoumission</th>
                <th>Description</th>
                <th>Etat</th>
                <th>Etatpayment</th>
                <th>Datepayment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td>{{ offre.idoffre }}</td>
                <td>{{ offre.montant }}</td>
                <td>{{ offre.datesoumission ? offre.datesoumission|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ offre.description }}</td>
                <td>{{ offre.etat }}</td>
                <td>{{ offre.etatpayment }}</td>
                <td>{{ offre.datepayment ? offre.datepayment|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_offres_show', {'idoffre': offre.idoffre}) }}">show</a>
                    <a href="{{ path('app_offres_edit', {'idoffre': offre.idoffre}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_offres_new') }}">Create new</a>
{% endblock %}
