{% extends './FrontTemplate.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block body %}
    <h1>Reclamation index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>ReclaimType</th>
            <th>Description</th>
            <th>Status</th>
            <th>SubmissionDate</th>
            <th>UpdateDate</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.reclaimType }}</td>
                <td>{{ reclamation.description }}</td>
                <td>{{ reclamation.status }}</td>
                <td>{{ reclamation.submissionDate ?: 'N/A' }}</td>
                <td>{{ reclamation.updateDate ?: 'N/A' }}</td>
                <td>
                    <a href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}">Show</a>
                    <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reclamation_new') }}">Create new</a>
{% endblock %}
