{% extends './FrontTemplate.html.twig' %}

{% block title %}Reclamation index{% endblock %}


{% block contenu %}
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Reclamations /</span> Display</h4>

<div class="card">
    <div class="table-responsive text-nowrap">
    <table class="table">
        <thead>
            <tr>
                <th>ReclaimType</th>
                <th>Description</th>
                <th>Status</th>
                <th>SubmissionDate</th>
                <th>UpdateDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="table-border-bottom-0" >
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.reclaimType }}</td>
                <td>{{ reclamation.description }}</td>
                <td>{{ reclamation.status }}</td>
                <td>{{ reclamation.submissionDate ? reclamation.submissionDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reclamation.updateDate ? reclamation.updateDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}">show</a>
                    <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

</div>
        <a class="btn btn-outline-primary" href="{{ path('app_reclamation_new') }}">Create new</a>
    </div>
</div>

{% endblock %}
