{% extends './FrontTemplate.html.twig' %}

{% block title %}Cadeaux index{% endblock %}

{% block body %}
    <h1>Cadeaux index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Disponible</th>
                <th>DateDisponibilite</th>
                <th>Categorie</th>
                <th>ImageUrl</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cadeaux in cadeauxes %}
            <tr>
                <td>{{ cadeaux.id }}</td>
                <td>{{ cadeaux.nom }}</td>
                <td>{{ cadeaux.description }}</td>
                <td>{{ cadeaux.prix }}</td>
                <td>{{ cadeaux.stock }}</td>
                <td>{{ cadeaux.disponible ? 'Yes' : 'No' }}</td>
                <td>{{ cadeaux.dateDisponibilite ? cadeaux.dateDisponibilite|date('Y-m-d') : '' }}</td>
                <td>{{ cadeaux.categorie }}</td>
                <td>{{ cadeaux.imageUrl }}</td>
                <td>
                    <a href="{{ path('app_cadeaux_show', {'id': cadeaux.id}) }}">show</a>
                    <a href="{{ path('app_cadeaux_edit', {'id': cadeaux.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cadeaux_new') }}">Create new</a>
{% endblock %}
