<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css"/>


<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms/</span> Avis Form</h4>

    {{ form_start(form, {'attr': {'class': 'row' , 'novalidate': 'novalidate'}}) }}
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Avis Details</h5>
                <small class="text-muted float-end">Please fill in the form</small>
            </div>
            <div class="card-body">

                <div id="rateYo"></div> <!-- This is where the stars will appear -->
                {{ form_widget(form.note) }}
                {% if form_errors(form.note)|length %}
                    <div class="invalid-feedback form-error-message">
                        {{ form_errors(form.note) }}
                    </div>
                {% endif %}
                {# Render description field #}
                {{ form_row(form.avi, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.avi)|length %}
                    <div class="invalid-feedback form-error-message">
                        {{ form_errors(form.avi) }}
                    </div>
                {% endif %}

                {% do form.iduser.setRendered %}
                {{ form_widget(form) }}

                <button  class="btn btn-primary">{{ button_label|default('Save') }}</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const aviInput = document.getElementById('{{ form.avi.vars.id }}');

        const badWords = ['badword1', 'badword2', 'badword3'];

        aviInput.addEventListener('input', function () {
            const inputValue = aviInput.value.toLowerCase();
            const foundBadWord = badWords.some(badWord => inputValue.includes(badWord));

            if (foundBadWord) {
                swal("Warning!", "Please avoid using inappropriate language.", "warning");
                aviInput.value = '';
            }
        });
    });
</script>

<script>
    jQuery.noConflict();
    (function($) {
        $(function () {
            $("#rateYo").rateYo({
                fullStar: true,
                onSet: function (rating, rateYoInstance) {
                    // Update the hidden field
                    $('#{{ form.note.vars.id }}').val(rating);
                }
            });
        });
    })(jQuery);
</script>
