{% extends './FrontTemplate.html.twig' %}

{% block title %}Ajouter un nouvel élément{% endblock %}
{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="container">
        <h1 class="my-4 text-center">Ajouter un nouvel élément</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.user, 'User') }}
                    {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.user) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.description, 'Description') }}
                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.description) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.montant, 'Montant') }}
                    {{ form_widget(form.montant, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.montant) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.appelOffre, 'Appel d\'offre') }}
                    {{ form_widget(form.appelOffre, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.appelOffre) }}
                </div>
                <div class="form-group text-center">
                    <div class="btn-group" role="group" aria-label="Actions">
                        {{ form_row(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                        <a href="{{ path('app_offre_index') }}" class="btn btn-warning ml-2">Retour à la liste</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
