{% extends './FrontTemplate.html.twig' %}


{% block body %}
    <div class="container2">
        <div class="card">
            <div class="text-center">
            <br>
            <h1>Details Appel Offre</h1>
            <br>
            </div>
            <div class="row text-center">
                <table class="table">
                    <tbody>
                    <th>Titre</th>
                    <td>{{ appeloffre.titre }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ appeloffre.description }}</td>
                    </tr>
                    <tr>
                        <th>PrixInitial</th>
                        <td>{{ appeloffre.prixInitial }}</td>
                    </tr>
                    <tr>
                        <th>PrixFinal</th>
                        <td>{{ appeloffre.prixFinal }}</td>
                    </tr>
                    <tr>
                        <th>DateDebut</th>
                        <td>{{ appeloffre.dateDebut ? appeloffre.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>DateFin</th>
                        <td>{{ appeloffre.dateFin ? appeloffre.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Etat</th>
                        <td>{{ appeloffre.etat }}</td>
                    </tr>
                    <tr>
                        <th>EtatPayment</th>
                        <td>{{ appeloffre.etatPayment }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <a href="{{ path('app_appeloffre_edit', {'id': appeloffre.id}) }}" class="btn btn-warning mr-2">Modifier</a>
                <a href="#"
                   onclick="confirmDeleting(event, '{{ path('app_offre_delete', {'id': appeloffre.id}) }}',
                           '{{ csrf_token('delete' ~ appeloffre.id) }}')"
                   class="btn btn-danger mr-2">Supprimer</a>
                <a href="{{ path('app_appeloffre_index') }}" class="btn btn-primary">Retour à la liste</a>
                <a href="{{ path('publish_on_facebook', {'id': appeloffre.id}) }}" class="btn btn-info"><i class="fab fa-facebook-square"></i> Partager sur Facebook</a>
            </div>
        </div>
    </div>
    <br>


    <style>
        .card {
            border-radius: 15px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 80%;
            margin: auto; /* pour centrer la carte horizontalement */
        }

        img {
            display: block; /* pour empêcher l'image de s'étendre sur toute la largeur */
            margin: auto; /* centrer l'image à l'intérieur de son conteneur */
            margin-bottom: 20px; /* ajout de marge en bas de l'image */
        }

        .table {
            margin-bottom: 20px; /* ajout de marge en bas du tableau */
        }
    </style>
{% endblock %}




