{% extends 'base.html.twig' %}

{% block title %}Appelsoffres{% endblock %}

{% block body %}
    <h1>Appelsoffres</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ appelsoffre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ appelsoffre.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ appelsoffre.description }}</td>
            </tr>
            <tr>
                <th>Prixinitial</th>
                <td>{{ appelsoffre.prixinitial }}</td>
            </tr>
            <tr>
                <th>Prixfinal</th>
                <td>{{ appelsoffre.prixfinal }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ appelsoffre.dateDebut ? appelsoffre.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ appelsoffre.dateFin ? appelsoffre.dateFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ appelsoffre.etat }}</td>
            </tr>
            <tr>
                <th>Etatpayment</th>
                <td>{{ appelsoffre.etatpayment }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_appelsoffres_index') }}">back to list</a>

    <a href="{{ path('app_appelsoffres_edit', {'id': appelsoffre.id}) }}">edit</a>

    {{ include('appelsoffres/_delete_form.html.twig') }}
{% endblock %}
