{% extends './FrontTemplate.html.twig' %}

{% block title %}Modifier stocks{% endblock %}

{% block body %}
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
    <br>
    <div class="container2">
        <br>
        <div class="card ">

            <h1 class="my-4 text-center">Modifier stocks </h1>
        </div>
    </div>
    <br>
    <div class="col">
        <div class="container2">
            <div class="card">
                <div class="col-md-6 mx-auto">
                    <br>
                    <div class="form-group row">
                        <div class="col-md-6">
                            {{ form_label(form.type, 'Type') }}
                            {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.type) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_label(form.nom, 'Nom') }}
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.nom) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form_label(form.description, 'Description') }}
                        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.description) }}
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            {{ form_label(form.prixUnit, 'Prix unitaire') }}
                            {{ form_widget(form.prixUnit, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.prixUnit) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_label(form.quantite, 'Quantité') }}
                            {{ form_widget(form.quantite, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.quantite) }}
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            {{ form_label(form.unite, 'Unité') }}
                            {{ form_widget(form.unite, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.unite) }}
                        </div>
                    </div>
                    <div class="row">
                        {{ form_label(form.imageFile, 'Image', {'label_attr': {'style': 'font-size: 16px'}}) }}
                        {{ form_widget(form.imageFile, {'attr': {'class': 'form-control', 'style': 'max-width: 2000px; max-height: 100px;'}}) }}
                    </div>
                    <br>
                </div>


                <br>

                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            {{ form_widget(form.Update, {'attr': {'class': 'btn btn-primary', 'style': 'border-radius: 15px;', 'onclick': 'showSuccessMessage()'}}) }}
                            <a href="{{ path('app_stocks_index') }}" class="btn btn-warning" style="border-radius: 15px">Retour à la liste</a>
                        </div>
                    </div>
                </div>
<br>
            </div>
        </div>
    </div>

    {{ form_end(form) }}


    <style>
        .container2 {
            display: flex;
            align-items: center; /* Centrer verticalement */
            justify-content: center; /* Centrer horizontalement */
        }

        .container3 {
            display: flex;
            justify-content: center; /* Centrer horizontalement */
            align-items: center; /* Centrer verticalement */
            height: auto; /* Assurez-vous que le conteneur parent occupe toute la hauteur de la fenêtre */
            width: 700px;
        }

        .card {
            border-radius: 15px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 80%;
        }
    </style>

{% endblock %}
