{% extends 'base.html.twig' %}

{% block title %}Usercadeaux{% endblock %}

{% block body %}
    <h1>Usercadeaux</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ usercadeaux.id }}</td>
            </tr>
            <tr>
                <th>QuantiteAchetee</th>
                <td>{{ usercadeaux.quantiteAchetee }}</td>
            </tr>
            <tr>
                <th>DateAchat</th>
                <td>{{ usercadeaux.dateAchat ? usercadeaux.dateAchat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_usercadeaux_index') }}">back to list</a>

    <a href="{{ path('app_usercadeaux_edit', {'id': usercadeaux.id}) }}">edit</a>

    {{ include('usercadeaux/_delete_form.html.twig') }}
{% endblock %}
