{% extends './BackEndTemplate.html.twig' %}

{% block title %}Table de stocks{% endblock %}
{% block css %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
{% endblock %}
{% block body %}
    <br>
    <div class="container3">
        <div class="card">
            <div class="form-group text-center">
                <h1>table de Offre</h1>
            </div>
            <div class="row mx-2">
                <div class="col-md-6">
                    <form action="{{ path('app_offre_index') }}" method="get" class="mb-3" id="searchForm">
                        <div class="form-group d-inline-block mr-2">
                            <input type="text" class="form-control" name="search" id="searchInput" placeholder="Rechercher..." value="{{ searchTerm }}" style="width: 200px; font-size: 14px;">
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="minPrice">Min Price:</label>
                            <input type="range" id="minPrice" name="minPrice" min="{{ minPrice }}" max="{{ maxPrice }}" value="{{ minPrice }}" step="1">
                            <span id="minPriceValue">{{ minPrice }}</span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-12">
                            <label for="maxPrice">Max Price:</label>
                            <input type="range" id="maxPrice" name="maxPrice" min="{{ minPrice }}" max="{{ maxPrice }}" value="{{ maxPrice }}" step="1">
                            <span id="maxPriceValue">{{ maxPrice }}</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="text-center">
                <div class="container2">
                    <div class="tbl-header">
                        <table>
                            <thead>
                            <tr>
                            <tr>
                                <th scope="col">Montant
                                    <button class="sort-btn" data-col="1" data-order="asc">▲</button>
                                </th>
                                <th scope="col">DateSoumission
                                    <button class="sort-btn" data-col="2" data-order="asc">▲</button>
                                </th>
                                <th scope="col">Description
                                    <button class="sort-btn" data-col="3" data-order="asc">▲</button>
                                </th>
                                <th scope="col">Etat
                                    <button class="sort-btn" data-col="4" data-order="asc">▲</button>
                                </th>
                                <th scope="col">EtatPayment
                                    <button class="sort-btn" data-col="5" data-order="asc">▲</button>
                                </th>
                                <th scope="col">DatePayment
                                    <button class="sort-btn" data-col="6" data-order="asc">▲</button>
                                </th>
                                <th scope="col">actions</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tbl-content">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                            {% for offre in offres %}
                                <tr>
                                    <td>{{ offre.montant }}</td>
                                    <td>{{ offre.dateSoumission ? offre.dateSoumission|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>{{ offre.description }}</td>
                                    <td>{{ offre.etat }}</td>
                                    <td>{{ offre.etatPayment }}</td>
                                    <td>{{ offre.datePayment ? offre.datePayment|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>
                                        <a href="{{ path('app_offre_show', {'id': offre.id}) }}"
                                           class="button-with-image" title="Info">
                                            <img src="/mohamed_Css/img/information.png"
                                                 style="width: 40px; height: 35px;">
                                        </a>
                                        <a href="#"
                                           onclick="confirmDeleting(event, '{{ path('app_offre_delete', {'id': offre.id}) }}', '{{ csrf_token('delete' ~ offre.id) }}')"
                                           class="button-with-image" title="Delete">
                                            <img src="/mohamed_Css/img/bin.png" style="width: 40px; height: 35px;"
                                                 alt="Delete">
                                        </a>

                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="8">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <br>
            <!-- Pagination Bootstrap -->
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {{ knp_pagination_render(offres) }}
                </ul>
            </nav>
        </div>
    </div>

    <!-- Script pour filtrer le tableau par intervalle de prix -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const minPriceSlider = document.getElementById('minPrice');
            const maxPriceSlider = document.getElementById('maxPrice');
            const minPriceValue = document.getElementById('minPriceValue');
            const maxPriceValue = document.getElementById('maxPriceValue');

            // Mettez à jour les valeurs de prix initial lors du changement de slider
            minPriceSlider.addEventListener('input', function() {
                minPriceValue.textContent = this.value;
                filterTableByPrice();
            });

            maxPriceSlider.addEventListener('input', function() {
                maxPriceValue.textContent = this.value;
                filterTableByPrice();
            });

            // Fonction pour filtrer le tableau par intervalle de prix
            function filterTableByPrice() {
                const minPrice = parseInt(minPriceSlider.value);
                const maxPrice = parseInt(maxPriceSlider.value);
                const rows = document.querySelectorAll('.tbl-content table tbody tr');

                rows.forEach(row => {
                    const priceCell = parseInt(row.querySelector('td:nth-child(1)').textContent); // Supposant que le prix est dans la troisième colonne
                    if (priceCell >= minPrice && priceCell <= maxPrice) {
                        row.style.display = 'table-row'; // Affichez la ligne si le prix est dans l'intervalle sélectionné
                    } else {
                        row.style.display = 'none'; // Sinon, masquez la ligne
                    }
                });
            }
        });
    </script>

    <style>

        /* Custom CSS */
        .btn-custom {
            background-color: #c2fbd7;
            border-radius: 100px;
            box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
            color: green;
            cursor: pointer;
            display: inline-block;
            font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
            padding: 7px 20px;
            text-align: center;
            text-decoration: none;
            transition: all 250ms;
            border: 0;
            font-size: 16px;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
        }


        .btn-custom:hover {
            box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
            transform: scale(1.05) rotate(-1deg);
        }

        .container3 {
            display: flex;
            justify-content: center; /* Centrer horizontalement */
            align-items: center; /* Centrer verticalement */
            height: auto; /* Assurez-vous que le conteneur parent occupe toute la hauteur de la fenêtre */

        }

        .container2 {
            justify-content: center; /* Centrer horizontalement */
            align-items: center; /* Centrer verticalement */
            height: auto; /* Assurez-vous que le conteneur parent occupe toute la hauteur de la fenêtre */
            margin: 12px; /* Espacement autour du conteneur */
        }

        .card {
            border-radius: 15px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 80%;
        }

        h1 {
            font-size: 30px;
            color: #057077;
            text-transform: uppercase;
            font-weight: 300;
            text-align: center;
            margin-bottom: 15px;
        }

        table {
            width: 100%;
            table-layout: fixed;
        }

        .tbl-header {
            background-color: rgba(255, 255, 255, 0.3);
        }

        .tbl-content {
            height: 300px;
            overflow-x: auto;
            margin-top: 0;
            border: 1px solid rgba(255, 255, 255, 0.3);
        }

        th {
            white-space: nowrap; /* Empêcher le texte de se répartir sur plusieurs lignes */
            padding: 20px 15px;
            font-weight: 500;
            font-size: 12px;
            background-color: #057077;
            color: white;
            text-align: center; /* Aligner le texte à gauche */
            text-transform: uppercase;

        }

        td {

            white-space: nowrap; /* Empêcher le texte de se répartir sur plusieurs lignes */
            padding: 15px;
            text-align: left;
            vertical-align: middle;
            font-weight: 300;
            font-size: 12px;
            border-bottom: solid 1px rgb(5, 112, 119);
        }

        .tbl-content tr:hover {
            background-color: #e0e0e0;
        }

        ::-webkit-scrollbar {
            width: 6px;
        }

        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        ::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const sortButtons = document.querySelectorAll('.sort-btn');

            sortButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const column = parseInt(this.getAttribute('data-col'));
                    const order = this.getAttribute('data-order');

                    // Mettre à jour le sens du tri
                    const newOrder = order === 'asc' ? 'desc' : 'asc';
                    this.setAttribute('data-order', newOrder);

                    // Modifier le texte du bouton pour refléter le sens du tri
                    const arrow = newOrder === 'asc' ? '▲' : '▼';
                    this.textContent = this.textContent.replace(/[▲▼]/g, '') + arrow;

                    // Trier le tableau en fonction de la colonne et du sens du tri
                    sortTable(column, newOrder);
                });
            });

            function sortTable(column, order) {
                const table = document.querySelector('.tbl-content table');
                const rows = Array.from(table.querySelectorAll('tbody tr'));

                rows.sort((rowA, rowB) => {
                    const cellA = rowA.querySelectorAll('td')[column - 1].textContent;
                    const cellB = rowB.querySelectorAll('td')[column - 1].textContent;

                    if (order === 'asc') {
                        return cellA.localeCompare(cellB);
                    } else {
                        return cellB.localeCompare(cellA);
                    }
                });

                // Réorganiser les lignes dans le tableau selon le nouveau tri
                const tbody = table.querySelector('tbody');
                tbody.innerHTML = '';
                rows.forEach(row => tbody.appendChild(row));
            }
        });
    </script>


{% endblock %}
