{# templates/facture_appel_offre.html.twig #}
{% extends './FronttEMPLATE.html.twig' %}

{% block body %}
    <div class="container3">
        <div class="card">
            <div class="text-center">
                <h1 style="color: #057077;">Facture pour l'appel d'offre "{{ appeloffre.titre }}"</h1>
                <p>Date de génération de la facture: <span style="color: #057077;">{{ "now"|date("Y-m-d H:i:s") }}</span></p>
                <p>Titre de l'appel d'offre: <span style="color: #057077;">{{ appeloffre.titre }}</span></p>
                <p>Description de l'appel d'offre: <span style="color: #057077;">{{ appeloffre.description }}</span></p>
                <p>Prix initial: <span style="color: #057077;">{{ appeloffre.prixInitial }}</span></p>
                <p>Date de début: <span style="color: #057077;">{{ appeloffre.dateDebut|date("Y-m-d H:i:s") }}</span></p>
                <p>Date de fin: <span style="color: #057077;">{{ appeloffre.dateFin|date("Y-m-d H:i:s") }}</span></p>

                <h2 style="color: #057077;">Stocks associés à l'appel d'offre:</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 mx-auto text-center">
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Type</th>
                                    <th>Nom</th>
                                    <th>Description</th>
                                    <th>Prix unitaire</th>
                                    <th>Quantité</th>
                                    <th>Unité</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for stock in appeloffre.stocks %}
                                    <tr>
                                        <td>{{ stock.type }}</td>
                                        <td>{{ stock.nom }}</td>
                                        <td>{{ stock.description }}</td>
                                        <td>{{ stock.prixUnit }}</td>
                                        <td>{{ stock.quantite }}</td>
                                        <td>{{ stock.unite }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



                <h2 style="color: #057077;">Offres associées à l'appel d'offre:</h2>
                <ul>
                    {% if appeloffre.offre|length > 0 %}
                        <p>Nombre de participants : <span style="color: #057077;">{{ appeloffre.offre|length }}</span></p>
                    {% else %}
                        <p>Aucune offre pour le moment.</p>
                    {% endif %}
                </ul>
            </div>
            <div class="text-center">
                <a href="{{ path('app_offre_new', {'id': appeloffre.id}) }}" class="btn btn-primary">Participer</a>
                <a href="{{ path('app_appeloffre_index') }}" class="btn btn-warning">Retour à la liste</a>
            </div>
        </div>

    </div>

    <style>
        .card {
            border-radius: 15px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 80%;
            padding: 20px;
            margin: 12px auto;
        }

        .container3 {
            display: flex;
            justify-content: center; /* Centrer horizontalement */
            align-items: center; /* Centrer verticalement */
            height: auto; /* Assurez-vous que le conteneur parent occupe toute la hauteur de la fenêtre */
            width: 100%;
        }
    </style>
{% endblock %}
