{% extends '/user/FrontTemplate.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table"  size="5" width="20" >
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Status</th>
                <th>Role</th>
                <th>Cin</th>
                <th>Rib</th>
                <th>NbrePoint</th>
                <th>Email</th>
                <th>UserName</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.status }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.cin }}</td>
                <td>{{ user.rib }}</td>
                <td>{{ user.nbrePoint }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.userName }}</td>
                <td>{{ user.imageName }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
