{% extends '/user/FrontTemplate.html.twig' %}

{% block body %}
    <h1>Crée Un noveaux Utilisateur</h1>
    {{ form_start(form,{'attr':{'novalidate': 'novalidate'}}) }}
    <table>
        <tr>
            <td>{{ form_label(form.nom,"Nom") }}</td>
            <td>{{ form_widget(form.nom) }}</td>
            <td>{{ form_errors(form.nom) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.prenom,"prenom") }}</td>
            <td>{{ form_widget(form.prenom) }}</td>
            <td>{{ form_errors(form.prenom) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.adresse,"adresse") }}</td>
            <td>{{ form_widget(form.adresse) }}</td>
            <td>{{ form_errors(form.adresse) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.cin,"cin") }}</td>
            <td>{{ form_widget(form.cin) }}</td>
            <td>{{ form_errors(form.cin) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.email,"mail") }}</td>
            <td>{{ form_widget(form.email) }}</td>
            <td>{{ form_errors(form.email) }}</td>
        </tr>
        <tr id="role-specific-fields">
            <td>{{ form_label(form.role,"Role") }}</td>
            <td>{{ form_widget(form.role, {'attr': {'class': 'form-control'}}) }}</td>
            <td>{{ form_errors(form.role) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.password,"Mot de passe") }}</td>
            <td>{{ form_widget(form.password) }}</td>
            <td>{{ form_errors(form.password) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.telephone,"telephone") }}</td>
            <td>{{ form_widget(form.telephone) }}</td>
            <td>{{ form_errors(form.telephone) }}</td>
        </tr>

        <tr>
            <td>{{ form_label(form.verifcode,"verifcode") }}</td>
            <td>{{ form_widget(form.verifcode) }}</td>
            <td>{{ form_errors(form.verifcode) }}</td>
        </tr>

        <tr>
            <td>{{ form_label(form.userName,"User Name") }}</td>
            <td>{{ form_widget(form.userName) }}</td>
            <td>{{ form_errors(form.userName) }}</td>
        </tr>


        <tr>
            <td>{{ form_label(form.imageFile,"Image") }}</td>
            <td>{{ form_widget(form.imageFile) }}</td>
            <td>{{ form_errors(form.imageFile) }}</td>
        </tr>


                <tr>
                    <td>{{ form_label(form.rib, "Rib") }}</td>
                    <td>{{ form_widget(form.rib) }}</td>
                    <td>{{ form_errors(form.rib) }}</td>
                </tr>



                <tr>
                    <td>{{ form_label(form.matFiscal, "Matricule Fiscale") }}</td>
                    <td>{{ form_widget(form.matFiscal) }}</td>
                    <td>{{ form_errors(form.matFiscal) }}</td>
                </tr>

    </table>

   <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}


{% endblock %}
